/* Universal Styles */

html {
  font-size: 16px;
}

body {
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 100%;
  margin: 0 1.5rem;
}

.leftcolumn {
  width: 60%;
}

.leftcolumn-wrapper {
  margin: 0 1.5rem 0 0;
}

.rightcolumn {
  width: 40%;
}

/* Slideshow Carousel */

.mySlides {
  display:none;
}

.carouselfade {
  animation:fading 6s infinite
}

@keyframes fading{
  0%{opacity:0.7}
  50%{opacity:1}
  100%{opacity:0.7}
}


/* Typography Styles */

h1 {
  font-family: "Dosis", "Helvetica", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  padding-bottom: 2rem;
  color: #333333;
}

h2 {
  font-family: "Dosis", "Helvetica", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  color: #333333;
}

h3 {
  font-family: "Dosis", "Helvetica", sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding-bottom: 0.5rem;
  color: lightslategray;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: lightslategray;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: lightslategray;
  padding-bottom: 0.5rem;

}

a {
  font-family: "Roboto", sans-serif;
  color: dodgerblue;
  text-decoration: underline;
}

a:hover {
  font-family: "Roboto", sans-serif;
  color: royalblue;
}

a:active {
  font-family: "Roboto", sans-serif;
  color: royalblue;
}

a:visited {
  font-family: "Roboto", sans-serif;
  color: darkslateblue;
}

strong {
  font-weight: 700;
}

p em {
  font-family: "Roboto", sans-serif;
  color: lightslategray;
  font-style: italic;
}

blockquote {
  margin-bottom: 0.5rem;
}

/* Featured badge and other graphical element styling */

#featured-badge {
  font-size: 0.75rem;
  background-color: lightslategray;
  color: white;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  top: -0.5rem;
  margin-left: 0.5rem;
  opacity: 0.5;
}

/* General Button styling */

button {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: dodgerblue;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 0;
  transition: background-color 400ms linear;
}

button:hover {
  background-color: royalblue;
}

/* Header Styles >> General */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}

header .container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  align-items: center;
  display: inline-flex;
}

.logotextheader {
  text-transform: uppercase;
  padding-left: 1rem;
}

.navlinks button {
  display: inline-flex;
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: white;
  border: 0;
  color: dodgerblue;
  transition: background-color 400ms linear;
}

.navlinks button:hover {
  background-color: royalblue;
  color: white;
}


/* Graphic panel for style floating over the laderpanel */

.graphic-lines {
  position: absolute;
  top: 2rem;
  left: -3rem;
  z-index: 99;
  width: 25%;
  height: auto;
}

/* Leader Styles >> General */

.leader {
  margin-top: 4rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-image: url("../../resources/images/geometry2.png");
  background-repeat: repeat;
}

#leader .leftcolumn {
  margin: 2rem 0;
}

.leftcolumn img {
  width: 100%;
}

#leadertext {
  margin: 3rem 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#leadertext div {
  padding-right: 15%;
}

#leadertext i {
  padding-left: 1rem;
}

#leadertext button {
  font-size: 1.25rem; /* supersized button for CTA */
  width: 80%;
  padding: 1rem;
  transition: all 400ms linear;
}

#leadertext button:hover {
  background-color: royalblue;
  font-weight: 700;
}

/* Information styles */

#information .container {
  padding: 2rem 0 2rem 0;
}

.leftcolumn img {
  margin-bottom: 2rem;
}

.info-article {
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
}

.info-article-img {
  max-width: 35%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-article-img img {
  width: 100%;
  height: auto;
}

.info-article-text {
  display: flex;
  justify-content: flex-start;
  width: 65%;
  align-items: center;
}

.text-content {
  padding: 0 1rem 0 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

#information .info-article:nth-child(3n + 0) {
  background-color: #f9fafb;
}

/* Courses Styles */

#courses {
  background-repeat: repeat;
  background:linear-gradient(0deg,rgba(96,0,247,0.55),rgba(72,106,218,1)),url("../../resources/images/funky-lines.png");

}

.courses-container {
  max-width: 100%;
  margin: 0 5rem;
}

.feature-heading {
  width: 100%;
  margin: 2rem 0 1rem 0;
}

.course-content {
  justify-content: space-between;
  margin-bottom: 2rem;
}

#courses h2 {
  text-align: center;
  color: white;
}

.course-card {
  background-color: white;
  transition: box-shadow 0.7s ease;
  max-width: 28%;
  min-width: 10rem;
  margin: 1rem 1rem;
}

.course-card:hover {
  box-shadow: 0.25rem 0.25rem 1rem 0px rgba(0,0,0,0.55);
  cursor: pointer;
}

.course-card-img img {
  width: 100%;
  height: auto;
}

.course-card-text {
  padding: 1.5rem;
}

/* Thesis styling */

#thesis .container {
  padding: 2rem 0 2rem 0;
}

#thesis .feature-heading h2 {
  text-align: center;
}

.leftcolumn video {
  margin-bottom: 2rem;
}

#thesis .info-article:nth-child(3n + 1) {
  background-color: #f9fafb;
}


/* Footer styles */

footer {
  border-top: 1px solid dodgerblue;
}

footer .container {
  padding: 1rem 0 3rem 0;
  align-items: center;
  justify-content: space-between;
}

.footernav a {
  display: inline-flex;
  margin-left: 1rem;
  text-decoration: none;
}
